fastapi             
uvicorn             
aiokafka            
pydantic            
httpx               
pandas              
scikit-learn        
google-generativeai 
pyyaml             
torch              
torchvision        
transformers       
pillow             
numpy              
faiss-cpu          
sentencepiece       
huggingface_hub
python-multipart
accelerate